/* Light */
.banner{
    .banner__content{
        margin-top: 40px;
        position: relative;
        display: flex;
        width: 100%;

        @media (min-width: 750px){
            padding: 0 15rem;
        }

        .banner__content-info{
            flex: 0 0 100%;
            max-width: 100%;
            z-index: 1;
            
            @media (min-width: 990px){
                flex: 0 0 42%;
                max-width: 42%;
            }

            .banner__content-info-row{
                margin: 8px 0;
                display: block;
                max-width: 100%;
                text-align: center;

                @media (min-width: 990px){
                    text-align: left;
                    
                }
            }
            h1{
                margin: 0;
                // font-size: 42px;
                font-weight: 700;
                line-height: 117%;

                @media (min-width: 750px){
                    // font-size: 70px;
                    line-height: 111%
                }
            }
            p{
                margin: 0;
                // font-size: 14px;
                font-weight: 700;
                
                @media (min-width: 750px){
                    // font-size: 18px;
                }
            }

            .banner__content-info-row-button{
                margin-top: 15px;

                a{
                    min-width: 244px;
                    width: auto;
                    height: 45px;
                    border-radius: 5rem;
                    // font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #FFBA03;

                    @media (min-width: 750px){   
                        min-width: 230px;
                        height: 60px;
                        // font-size: 20px;
                    }

                    &::after,
                    &::before{
                        display: none;
                    }
                }
            }
            .banner__content-info-row-single-image{
                img{
                    @media (max-width: 749px){
                        margin: 0 auto;
                    }
                }
            }

            .banner__content-info-image-row{
                display: flex;
                justify-content: center;

                @media (min-width: 990px){
                    justify-content: flex-start;
                }
                img{
                    margin-right: 8px;
                    width: 50px;
                    height: auto;
                    @media (min-width: 750px){
                        width: 60px;
                    }
                }
            }
        }

        .banner__content-image{
            display: none;
            flex: 0 0 62%;
            max-width: 62%;
            
            @media (min-width: 990px){
                display: block;
            }

            .banner__content-image-wrap{
                position: relative;

                &::after{
                    display: none;
                    position: absolute;
                    content: "";
                    background: linear-gradient(87.42deg, #F3F5F7 34.54%, rgba(243, 245, 247, 0) 98.03%);
                    left: -180px;
                    top: 0;
                    width: 750px;
                    height: 100%;
                    
                    @media (min-width: 990px){
                        display: block;
                    }
                }
            }
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

/* Dark */
body.theme-dark-mode{
    .banner{
        .banner__content{
    
            .banner__content-info{
    
                .banner__content-info-row{
                }
                h1{
                }
                p{
                }
    
                .banner__content-info-row-button{
    
                    a{
                        background: #FFBA03;
                        color: #000000;
                        &::after,
                        &::before{
                        }
                    }
                }
    
                .banner__content-info-image-row{
    
                    @media (min-width: 750px){
                    }
                    img{
                    }
                }
            }
    
            .banner__content-image{
    
                .banner__content-image-wrap{
                    &::after{
                        background: linear-gradient(87.42deg, #000000 34.54%, rgba(0, 0, 0, 0) 98.03%);
                    }
                }
                img{
                }
            }
        }
    }    
}