/* Light */
.main-banner{
    .main-banner__content{
        // display: flex;
        // width: 100%;
        // justify-content: center;

        @media (min-width: 750px){
            padding: 0 10rem;
        }

        .main-banner__content-info{

            .main-banner__content-info-row{
                margin: 8px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 100%;
                text-align: center;

                &.main-banner__content-info-row--spaced-letters{ letter-spacing: 6px; }
                &.main-banner__content-info-row--top-reduced{ margin-top: 0;}
                &.main-banner__content-info-row--top-normal{ margin-top: 8px;}
                &.main-banner__content-info-row--top-increased{ margin-top: 25px;}
                &.main-banner__content-info-row--top-increased-extra{ margin-top: 35px;}
                &.main-banner__content-info-row--bottom-reduced{ margin-bottom: 0;}
                &.main-banner__content-info-row--bottom-normal{ margin-bottom: 8px;}
                &.main-banner__content-info-row--bottom-increased{ margin-bottom: 25px;}
                &.main-banner__content-info-row--bottom-increased-extra{ margin-bottom: 35px;}

                @media (min-width: 990px){
                    // text-align: left;
                    
                }
            }
            .main-banner__heading{


                &.main-banner__heading--background-glow{
                    position: relative;

                    &:after{
                        content: '';
                        // background: linear-gradient(180deg, #000000 0%, #FFBA03 100%);
                        background: #FFBA03;
                        width: 10%;
                        height: 75%;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        filter: blur(20px);
                        z-index: -1;
                    }
                }
                h1{
                    margin: 0;
                    font-weight: 700;
                    line-height: 117%;
    
                    @media (min-width: 750px){
                        line-height: 111%
                    }
                }
            }
            p{
                margin: 0;
                font-weight: 700;
                
                @media (min-width: 750px){
                }
            }

            .main-banner__content-info-row-button{
                margin: 25px 0;

                @media (min-width: 750px){
                    margin: 50px 0;
                }

                a{
                    min-width: 200px;
                    width: auto;
                    height: auto;
                    border-radius: 5rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: #000;
                    border: 4px solid #FFBA03;
                    background-color: transparent !important; 


                    @media (min-width: 750px){   
                        min-width: 230px;
                    }

                    &::after,
                    &::before{
                        display: none;
                    }
                }
            }
        }

        .main-banner__statistics{
            
            &.main-banner__statistics-scroll-enabled{
                margin-top: -5px;
                margin-bottom: -5px;
                margin-left: -50vw;
                width: 100vw;
                position: relative;
                left: 50%;
                height: auto;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                position: relative;

                @media (min-width: 750px){
                }

                .main-banner__statistics-scroller {
                    height: 100%;
                    animation: scroll 30s linear infinite;
                    animation-fill-mode: forwards;
                    display: inline-block;
                    padding: 30px 0;
    
                    @media (min-width: 750px){
                        padding: 30px 0;
                    }
                }
    
                .main-banner__statistic{
                    padding: 10px 15px;
                    text-align: center;
                    position: relative;
                    height: 100%;
                    width: auto;
                    display: inline-block;
    
                    @media (min-width: 750px){
                        padding: 10px 25px;
                    }
    
                    &:after{
                        content: '';
                        // background: linear-gradient(180deg, #000000 0%, #FFBA03 100%);
                        background: #FFBA03;
                        width: 50%;
                        height: 50%;
                        background-repeat: no-repeat;
                        background-size: 50%;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        filter: blur(20px);
                        z-index: -1;
                        opacity: 0.6;

                        @media (min-width: 750px){
                            width: 60%;
                            height: 60%;
                            background-size: 60%;
                        }
                    }
    
                    p{
                        font-weight: 500;
                    }
                }
            }

            &.main-banner__statistics-no-scroll{
                margin-top: 25px;
                margin-bottom: 25px;
                
                @media (min-width: 750px){
                }
                .main-banner__statistics-scroller {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // padding: 50px 0;

                    @media (min-width: 750px){
                        // padding: 60px 0;
                    }
                }

                .main-banner__statistic{
                    padding: 10px 15px;
                    text-align: center;
                    position: relative;
                    height: 100%;
                    width: auto;

                    @media (min-width: 750px){
                        padding: 10px 25px;
                    }

                    &:after{
                        content: '';
                        // background: linear-gradient(180deg, #000000 0%, #FFBA03 100%);
                        background: #FFBA03;
                        width: 50%;
                        height: 50%;
                        background-repeat: no-repeat;
                        background-size: 50%;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        filter: blur(20px);
                        z-index: -1;
                        opacity: 0.6;

                        @media (min-width: 750px){
                            width: 60%;
                            height: 60%;
                            background-size: 60%;
                        }
                    }

                    p{
                        font-weight: 500;
                    }
                }
            }
        }

        .main-banner__logo-row{
            margin: 0 0 25px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            @media (min-width: 750px){
                gap: 50px;
            }

            .main-banner__logo-row-logo{
                max-width: 120px;
                aspect-ratio: 16/9;

                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;

                    &.main-banner__logo-row-logo--light{
                        display: block;
                    }
                    &.main-banner__logo-row-logo--dark{
                        display: none;
                    }
                }
            }
        }
        .main-banner__single-image {
            margin: 25px auto;

            @media (min-width: 750px){
                margin: 40px auto;
            }

            &.main-banner__single-image--background{
                position: relative;

                &:after{
                    content: '';
                    // background: linear-gradient(180deg, #000000 0%, #FFBA03 100%);
                    background: #FFBA03;
                    width: 150%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    filter: blur(40px);
                    z-index: -1;
                }
            }

            .main-banner__single-image--light{ display: block; }
            .main-banner__single-image--dark{ display: none; }
        }

        .main-banner__charts {
            margin: 25px auto;

            @media (min-width: 750px){
                margin: 40px auto;
            }

            .main-banner__charts-wrap{
                display: flex;
                gap: 20px;

                @media (min-width: 750px){
                    justify-content: space-evenly;
                    overflow-x: unset;
                    gap: unset;
                }
    
                .main-banner__chart{
                    min-width: 60%;
                    scroll-snap-align: none center;

                    @media (min-width: 750px){
                        max-width: 220px;
                        min-width: auto;
                    }
                    &:empty{ display: none; }

                    .main-banner__chart-title{
                        text-align: center;

                        @media (min-width: 750px){
                            text-align: left;
                        }
                        p{
                            margin-bottom: 0;
                            font-weight: lighter;
                        }
                    }
                    .main-banner__chart-number-percent{
                        margin-bottom: 10px;
                        text-align: center;
                        
                        @media (min-width: 750px){
                            text-align: left;
                        }
                        .main-banner__chart-number{
                            display: block;
                            font-weight: bold;
                            
                            @media (min-width: 750px){
                                display: inline-block;
                            }
                        }
                        .main-banner__chart-percent{
                            display: block;
                            color: #008040;
                            font-weight: lighter;

                            @media (min-width: 750px){
                                display: inline-block;
                            }

                            .main-banner__chart-arrow{
                                display: inline-block;
                                &.arrow_up_green{
                                    color: #008040;
                                }
                                &.arrow_down_green{
                                    color: #008040;
                                    transform: rotate(180deg);
                                }
                                &.arrow_up_red{
                                    color: #ff0000;
                                }
                                &.arrow_down_red{
                                    color: #ff0000;
                                    transform: rotate(180deg);
                                }
                                &.no_arrow{
                                    display: none;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

/* Dark */
body.theme-dark-mode{
    .main-banner{
        .main-banner__content{
    
            .main-banner__content-info{
    
                .main-banner__content-info-row-button {
                    a{
                        background-color: transparent;
                        color: #fff !important;
                    }
                }
            }
    
            .main-banner__content-image{
    
                .main-banner__content-image-wrap{
                    &::after{
                        background: linear-gradient(87.42deg, var(--site-background-color-dark) 34.54%, rgba(0, 0, 0, 0) 98.03%);
                    }
                }
            }
            .main-banner__single-image{
                .main-banner__single-image--light{ display: none; }
                .main-banner__single-image--dark{ display: block; }
            }
            .main-banner__logo-row{
                margin: 0 0 25px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
    
                @media (min-width: 750px){
                    gap: 50px;
                }
    
                .main-banner__logo-row-logo{
                    img{
    
                        &.main-banner__logo-row-logo--light{
                            display: none;
                        }
                        &.main-banner__logo-row-logo--dark{
                            display: block;
                        }
                    }
                }
            }
        }
    }    
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}