.header{
    &.header--style-two{
        @media (max-width:989px){
            grid-template-areas: "left-icon heading icons";
            grid-template-columns: 1fr 1fr 1fr;
        }

        header-drawer{
            display: block;
            grid-area: icons;
            justify-self: end;

            .icon.icon-hamburger{
                width: auto;
            }
        }
        site-mode-option{
            grid-area: left-icon;
            .site-mode-option{
                margin-top: 0;
            }
        }
        .header__inline-menu,
        .header__search{
            display: none;
        }

        .site-mode-option{
            .label{
                @media (max-width: 750px){
                    width: 36px;
                    height: 20px;
                }

                &:after{
                    @media (max-width: 750px){
                        height: 20px;
                    }
                }
            }
            .ball{
                @media (max-width: 750px){
                    width: 18px;
                    height: 18px;
                    top: .5px;
                    left: 2px;
                }
            }

            .checkbox:checked+.label .ball{
                @media (max-width: 750px){
                    transform: translate(14px);
                }
            }
            span{
                @media (max-width: 750px){
                    font-size: 12px;
                    margin-left: 35px;
                }
            }
        }
    }
}