.header{
    &.header--style-two{
        @media (max-width:989px){
            grid-template-areas: "left-icon heading icons";
            grid-template-columns: 1fr 1fr 1fr;
        }

        header-drawer{
            display: block;
            grid-area: icons;
            justify-self: end;

            .icon.icon-hamburger{
                width: auto;
            }
        }
        site-mode-toggle{
            grid-area: left-icon;
            .site-mode-toggle{
                margin-top: 0;
            }
        }
        .header__inline-menu,
        .header__search{
            display: none;
        }
    }
}