// Light
.icon-image-row{
    margin-top: 15px;
    margin-bottom: 15px;

    @media (min-width: 750px){
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .icon-image-row__wrap{
        .icon-image-row__content{
            padding: 30px 0;

            @media (min-width: 750px){
                padding: 55px 0;
            }

            .icon-image-row__section-heading{
                margin-top: 10px;
                margin-bottom: 30px;

                @media (min-width: 750px){
                    margin-top: 20px;
                    margin-bottom: 60px;
                }
                h2{
                    margin: 0;
                    font-size: 38px;
                    text-align: center;

                    @media (min-width: 750px){
                        font-size: 59px;
                    }
                }
            }

            .icon-image-row__rows{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: calc(var(--grid-desktop-horizontal-spacing)  * 2);
                row-gap: calc(var(--grid-desktop-horizontal-spacing)  * 4);

                @media (min-width: 750px){
                }

                .icon-image-row__row{
                    text-align: center;
                    padding: 0 2.5px;
                    flex: 0 0 50%;
                    
                    @media (min-width: 750px){
                        flex: 0 0 auto;
                        padding: 0 7.5px;
                    }

                    .icon-image-row__icon{
                        margin: 0 auto;
                        width: 100%;
                        height: auto;

                        @media (min-width: 750px){
                        }

                        &.icon-image-row__icon--light{
                            display: block;
                        }
                        &.icon-image-row__icon--dark{
                            display: none;
                        }
                    }

                    .icon-image-row__icon-heading {
                        margin-top: 15px;
                        p{
                            margin: 0;
                            font-size: 10px;
                            
                            @media (min-width: 750px){
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Dark
