// Light
.page-hero-image{

    .page-hero-image__wrap{
        .page-hero-image__content{
            .page-hero-image__image{
                
                &.page-hero-image__image--mobile{
                    display: block;
                    
                    @media (min-width:750px) {
                        display: none;
                    }
                }
                &.page-hero-image__image--desktop{
                    display: none;

                    @media (min-width:750px) {
                        display: block;
                    }
                }
            }
        }
    }
}

// Dark
body.theme-dark-mode{
    .page-hero-image{
        .page-hero-image__wrap{
            .page-hero-image__content{
                .page-hero-image__image{
                }
            }
        }
    }
}