// Light
.meet-the-team-slider{
    margin-top: 15px;
    margin-bottom: 15px;

    @media (min-width: 750px){
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .meet-the-team-slider__wrap{
        .meet-the-team-slider__content{
            padding: 20px 20px 30px 20px;
            overflow-x: hidden;

            @media (min-width: 750px){
                padding: 40px 40px 55px 40px;
            }

            .meet-the-team-slider__section-heading{
                margin-top: 10px;
                margin-bottom: 30px;

                @media (min-width: 750px){
                    margin-top: 20px;
                    margin-bottom: 60px;
                }
                h2{
                    margin: 0;
                    // font-size: 38px;
                    text-align: center;

                    @media (min-width: 750px){
                        // font-size: 59px;
                    }
                }
                p,a{
                    margin: 0;
                    // font-size: 14px;
                    text-align: center;
                    font-weight: 700;
                        
                    @media (min-width: 750px){
                        // font-size: 25px;
                    }
                }
                a{
                    text-decoration: underline;
                }
            }

            .meet-the-team-slider__slider{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-left: -40%;
                margin-right: -40%;

                @media (min-width: 750px){
                    margin-left: -20%;
                    margin-right: -20%;
                }

                .meet-the-team-slider__slide{
                    margin-bottom: 40px;
                    
                    @media (min-width: 750px){
                        // padding: 0 15px;
                    }
                    .meet-the-team-slider__slide-content{
                        padding: 25px 15px 50px 15px;
                        text-align: center;
                        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
                        border-radius: 5rem;

                        @media (min-width: 750px){
                            padding: 25px 30px 50px 30px;
                        }
                    }

                    .meet-the-team-slider__image{
                        margin: 10px auto;
                        width: 100%;
                        max-width: 220px;
                        height: auto;
                        display: block;

                        border-radius: 50%;
                        border: 3px solid #ffffff;

                        @media (min-width: 750px){
                        }
                    }

                    p{
                        margin: 0;
                        line-height: normal;

                        &.meet-the-team-slider__slide-name{
                            margin-bottom: 5px;
                            // font-size: 22px;
                            color: #FFBA03;
                            font-weight: 700;
                            
                            @media (min-width: 750px){
                                // font-size: 34px;
                            }
                            &.meet-the-team-slider__slide-role{
                                // font-size: 20px;
                                font-weight: 700;
                            
                                @media (min-width: 750px){
                                    // font-size: 35px;
                                }
                            }
                        }
                        &.meet-the-team-slider__slide-heading{
                            margin-bottom: 5px;
                            // font-size: 18px;
                            font-weight: 900;
                            color: #FFBA03;
                        
                            @media (min-width: 750px){
                                // font-size: 26px;
                            }
                        }
                        &.meet-the-team-slider__slide-subheading{
                            // font-size: 18px;

                            &:not(:last-of-type){
                                margin-bottom: 15px;
                            }
                        
                            @media (min-width: 750px){
                                // font-size: 18px;
                            }
                        }
                    }
                }
            }
            .meet-the-team-slider__button{
                margin-top: 40px;
                text-align: center;

                .button{
                    margin: 0;
                    width: 244px;
                    height: 45px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #FFBA03;
                    border-radius: 5rem;
    
                    &::after,
                    &::before{
                        display: none;
                    }
                    
                    @media (min-width: 750px){
                        width: 380px;
                        height: 70px;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

// Dark
body.theme-dark-mode{
    .meet-the-team-slider{
        .meet-the-team-slider__wrap{
            .meet-the-team-slider__content{
                
                .meet-the-team-slider__slide{
                    .meet-the-team-slider__slide-content{
                        background: linear-gradient(180deg, #1F1F1F 0%, rgba(36, 36, 36, 0) 100%);
                    }
                    .meet-the-team-slider__icon{

                        &.meet-the-team-slider__icon--light{
                            display: none;
                        }
                        &.meet-the-team-slider__icon--dark{
                            display: block;
                        }
                    }
                    .meet-the-team-slider__statistic{
                        p{
                            &.meet-the-team-slide__slide-heading{
                            }
                            &.meet-the-team-slide__slide-subheading{
                            }
                            &.meet-the-team-slider__slide-content{
                            }
                        }
                    }
                }
                .meet-the-team-slider__button{
                    .button{
                        background-color: #FFBA03;
                        color: #000;
                    }
                }
            }
        }
    }
}