/* Color custom properties */

:root body.theme-dark-mode,
body.theme-dark-mode .color-background-1 {
  --color-foreground-dark: var(--color-base-text-dark);
  --color-background-dark: var(--color-base-background-1);
  --gradient-background-dark: var(--gradient-base-background-1);
}

body.theme-dark-mode .color-background-2 {
  --color-foreground-dark: var(--color-base-text-dark);
  --color-background-dark: var(--color-base-background-2);
  --gradient-background-dark: var(--gradient-base-background-2);
}

body.theme-dark-mode .color-inverse {
  --color-foreground-dark: var(--color-base-background-1);
  --color-background-dark: var(--color-base-text-dark);
  --gradient-background-dark: rgb(var(--color-base-text-dark));
}

body.theme-dark-mode .color-accent-1 {
  --color-foreground-dark: var(--color-base-solid-button-labels);
  --color-background-dark: var(--color-base-accent-1);
  --gradient-background-dark: var(--gradient-base-accent-1);
}

body.theme-dark-mode .color-accent-2 {
  --color-foreground-dark: var(--color-base-solid-button-labels);
  --color-background-dark: var(--color-base-accent-2);
  --gradient-background-dark: var(--gradient-base-accent-2);
}

body.theme-dark-mode .color-foreground-outline-button {
  --color-foreground-dark: var(--color-base-outline-button-labels);
}

body.theme-dark-mode .color-foreground-accent-1 {
  --color-foreground-dark: var(--color-base-accent-1);
}

body.theme-dark-mode .color-foreground-accent-2 {
  --color-foreground-dark: var(--color-base-accent-2);
}

:root body.theme-dark-mode ,
body.theme-dark-mode .color-background-1 {
  --color-link: var(--color-base-outline-button-labels);
  --alpha-link: 0.85;
}

body.theme-dark-mode .color-background-2,
body.theme-dark-mode .color-inverse,
body.theme-dark-mode .color-accent-1,
body.theme-dark-mode .color-accent-2 {
  --color-link: var(--color-foreground-dark);
  --alpha-link: 0.7;
}

:root body.theme-dark-mode ,
body.theme-dark-mode .color-background-1 {
  --color-button: var(--color-base-accent-1);
  --color-button-text: var(--color-base-solid-button-labels);
  --alpha-button-background: 1;
  --alpha-button-border: 1;
}

body.theme-dark-mode .color-background-2,
body.theme-dark-mode .color-inverse,
body.theme-dark-mode .color-accent-1,
body.theme-dark-mode .color-accent-2 {
  --color-button: var(--color-foreground-dark);
  --color-button-text: var(--color-background-dark);
}

body.theme-dark-mode .button--secondary {
  --color-button: var(--color-base-outline-button-labels);
  --color-button-text: var(--color-base-outline-button-labels);
  --color-button: var(--color-background-dark);
  --alpha-button-background: 1;
}

body.theme-dark-mode .color-background-2 .button--secondary,
body.theme-dark-mode .color-accent-1 .button--secondary,
body.theme-dark-mode .color-accent-2 .button--secondary {
  --color-button: var(--color-background-dark);
  --color-button-text: var(--color-foreground-dark);
}

body.theme-dark-mode .color-inverse .button--secondary {
  --color-button: var(--color-background-dark);
  --color-button-text: var(--color-foreground-dark);
}

body.theme-dark-mode .button--tertiary {
  --color-button: var(--color-base-outline-button-labels);
  --color-button-text: var(--color-base-outline-button-labels);
  --alpha-button-background: 0;
  --alpha-button-border: 0.2;
}

body.theme-dark-mode .color-background-2 .button--tertiary,
body.theme-dark-mode .color-inverse .button--tertiary,
body.theme-dark-mode .color-accent-1 .button--tertiary,
body.theme-dark-mode .color-accent-2 .button--tertiary {
  --color-button: var(--color-foreground-dark);
  --color-button-text: var(--color-foreground-dark);
}

:root body.theme-dark-mode ,
body.theme-dark-mode .color-background-1 {
  --color-badge-background: var(--color-background-dark);
  --color-badge-border: var(--color-foreground-dark);
  --alpha-badge-border: 0.1;
}

body.theme-dark-mode .color-background-2,
body.theme-dark-mode .color-inverse,
body.theme-dark-mode .color-accent-1,
body.theme-dark-mode .color-accent-2 {
  --color-badge-background: var(--color-background-dark);
  --color-badge-border: var(--color-background-dark);
  --alpha-badge-border: 1;
}

:root body.theme-dark-mode ,
body.theme-dark-mode .color-background-1,
body.theme-dark-mode .color-background-2 {
  --color-card-hover: var(--color-base-text-dark);
}

body.theme-dark-mode .color-inverse {
  --color-card-hover: var(--color-base-background-1);
}

body.theme-dark-mode .color-accent-1,
body.theme-dark-mode .color-accent-2 {
  --color-card-hover: var(--color-base-solid-button-labels);
}

:root body.theme-dark-mode ,
body.theme-dark-mode .color-icon-text {
  --color-icon: rgb(var(--color-base-text-dark));
}

body.theme-dark-mode .color-icon-accent-1 {
  --color-icon: rgb(var(--color-base-accent-1));
}

body.theme-dark-mode .color-icon-accent-2 {
  --color-icon: rgb(var(--color-base-accent-2));
}

body.theme-dark-mode .color-icon-outline-button {
  --color-icon: rgb(var(--color-base-outline-button-labels));
}

body.theme-dark-mode .contains-card,
body.theme-dark-mode .card {
  --border-radius: var(--card-corner-radius);
  --border-width: var(--card-border-width);
  --border-opacity: var(--card-border-opacity);
  --shadow-horizontal-offset: var(--card-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--card-shadow-vertical-offset);
  --shadow-blur-radius: var(--card-shadow-blur-radius);
  --shadow-opacity: var(--card-shadow-opacity);
}

body.theme-dark-mode .contains-content-container,
body.theme-dark-mode .content-container {
  --border-radius: var(--text-boxes-radius);
  --border-width: var(--text-boxes-border-width);
  --border-opacity: var(--text-boxes-border-opacity);
  --shadow-horizontal-offset: var(--text-boxes-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--text-boxes-shadow-vertical-offset);
  --shadow-blur-radius: var(--text-boxes-shadow-blur-radius);
  --shadow-opacity: var(--text-boxes-shadow-opacity);
}

body.theme-dark-mode .contains-media,
body.theme-dark-mode .global-media-settings {
  --border-radius: var(--media-radius);
  --border-width: var(--media-border-width);
  --border-opacity: var(--media-border-opacity);
  --shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--media-shadow-vertical-offset);
  --shadow-blur-radius: var(--media-shadow-blur-radius);
  --shadow-opacity: var(--media-shadow-opacity);
  --shadow-visible: var(--media-shadow-visible);
}

/* base */
body.theme-dark-mode{
  background: var(--site-background-color-dark);
}

body.theme-dark-mode,
body.theme-dark-mode .color-background-1,
body.theme-dark-mode .color-background-2,
body.theme-dark-mode .color-inverse,
body.theme-dark-mode .color-accent-1,
body.theme-dark-mode .color-accent-2 {
  color: rgba(var(--color-foreground-dark));
  /* background-color: rgb(var(--color-background-dark)); */
}

body.theme-dark-mode .background-secondary {
  /* background-color: rgba(var(--color-foreground-dark), 0.04); */
}

body.theme-dark-mode ::selection {
  background-color: rgba(var(--color-foreground-dark), 0.2);
}

body.theme-dark-mode h1,
body.theme-dark-mode h2,
body.theme-dark-mode h3,
body.theme-dark-mode h4,
body.theme-dark-mode h5,
body.theme-dark-mode .h0,
body.theme-dark-mode .h1,
body.theme-dark-mode .h2,
body.theme-dark-mode .h3,
body.theme-dark-mode .h4,
body.theme-dark-mode .h5 {
  color: rgb(var(--color-foreground-dark));
}

body.theme-dark-mode h6,
body.theme-dark-mode .h6 {
  color: rgba(var(--color-foreground-dark), 0.75);
}

body.theme-dark-mode blockquote {
  color: rgba(var(--color-foreground-dark), 0.75);
}
body.theme-dark-mode .color-foreground {
  color: rgb(var(--color-foreground-dark));
}

table:not([class]) {
  box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground-dark), 0.2);
}

table:not([class]) td,
table:not([class]) th {
  border: 0.1rem solid rgba(var(--color-foreground-dark), 0.2);
}

body.theme-dark-mode .link,
body.theme-dark-mode .customer a {
  color: rgb(var(--color-link));
  background-color: transparent;
}

body.theme-dark-mode .link--text {
  color: rgb(var(--color-foreground-dark));
}

body.theme-dark-mode .link--text:hover {
  color: rgba(var(--color-foreground-dark), 0.75);
}

body.theme-dark-mode hr {
  background-color: rgba(var(--color-foreground-dark), 0.2);
}

body.theme-dark-mode .full-unstyled-link {
  color: currentColor;
}

body.theme-dark-mode .placeholder {
  background-color: rgba(var(--color-foreground-dark), 0.04);
  color: rgba(var(--color-foreground-dark), 0.55);
  fill: rgba(var(--color-foreground-dark), 0.55);
}

body.theme-dark-mode .underlined-link,
body.theme-dark-mode .customer a {
  color: rgba(var(--color-link), var(--alpha-link));
}

body.theme-dark-mode .underlined-link:hover,
body.theme-dark-mode .customer a:hover {
  color: rgb(var(--color-link));
}

/* base-focus */
/*
  Focus ring - default (with offset)
*/

body.theme-dark-mode *:focus-visible {
  outline: 0.2rem solid rgba(var(--color-foreground-dark), 0.5);
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background-dark)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground-dark), 0.3);
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
body.theme-dark-mode .focused,
body.theme-dark-mode .no-js *:focus {
  outline: 0.2rem solid rgba(var(--color-foreground-dark), 0.5);
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background-dark)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground-dark), 0.3);
}

/*
  Focus ring - inset
*/

body.theme-dark-mode .focus-inset:focus-visible {
  outline: 0.2rem solid rgba(var(--color-foreground-dark), 0.5);
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground-dark), 0.3);
}

body.theme-dark-mode .focused.focus-inset,
body.theme-dark-mode .no-js .focus-inset:focus {
  outline: 0.2rem solid rgba(var(--color-foreground-dark), 0.5);
  box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground-dark), 0.3);
}

/*
  Focus ring - none
*/


body.theme-dark-mode .focus-offset:focus-visible {
  outline: 0.2rem solid rgba(var(--color-foreground-dark), 0.5);
  box-shadow: 0 0 0 1rem rgb(var(--color-background-dark)),
    0 0 0.2rem 1.2rem rgba(var(--color-foreground-dark), 0.3);
}

body.theme-dark-mode .focus-offset.focused,
body.theme-dark-mode .no-js .focus-offset:focus {
  outline: 0.2rem solid rgba(var(--color-foreground-dark), 0.5);
  box-shadow: 0 0 0 1rem rgb(var(--color-background-dark)),
    0 0 0.2rem 1.2rem rgba(var(--color-foreground-dark), 0.3);
}

body.theme-dark-mode .title-wrapper-with-link a {
  color: rgb(var(--color-link));
}

body.theme-dark-mode .subtitle {
  color: rgba(var(--color-foreground-dark), 0.7);
}


/* component-grid */

/* component-media */
body.theme-dark-mode .media {
  background-color: rgba(var(--color-foreground-dark), 0.1);
}

body.theme-dark-mode .media--transparent {
  background-color: transparent;
}

/* component-button */
/* Button - default */
body.theme-dark-mode .button{
  background-color: #FFBA03 !important;
  color: #000000;
}

body.theme-dark-mode .cart__dynamic-checkout-buttons iframe {
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-base-text-dark), var(--shadow-opacity));
}

body.theme-dark-mode .button,
body.theme-dark-mode .shopify-challenge__button,
body.theme-dark-mode .customer button {
  color: rgb(var(--color-button-text));
  background-color: rgba(var(--color-button), var(--alpha-button-background));
}

body.theme-dark-mode .button:before,
body.theme-dark-mode .shopify-challenge__button:before,
body.theme-dark-mode .customer button:before,
body.theme-dark-mode .shopify-payment-button__button--unbranded:before,
body.theme-dark-mode .shopify-payment-button [role="button"]:before,
body.theme-dark-mode .cart__dynamic-checkout-buttons [role='button']:before {
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity));
}

body.theme-dark-mode .button:after,
body.theme-dark-mode .shopify-challenge__button:after,
body.theme-dark-mode .customer button:after,
body.theme-dark-mode .shopify-payment-button__button--unbranded:after {
  box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)),
    0 0 0 var(--buttons-border-width) rgba(var(--color-button), var(--alpha-button-background));
}

body.theme-dark-mode .button:not([disabled]):hover::after,
body.theme-dark-mode .shopify-challenge__button:hover::after,
body.theme-dark-mode .customer button:hover::after,
body.theme-dark-mode .shopify-payment-button__button--unbranded:hover::after {
  box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)),
    0 0 0 calc(var(--buttons-border-width) + 1px) rgba(var(--color-button), var(--alpha-button-background));
}

body.theme-dark-mode .button:focus-visible,
body.theme-dark-mode .button:focus,
body.theme-dark-mode .button.focused,
body.theme-dark-mode .shopify-payment-button__button--unbranded:focus-visible,
body.theme-dark-mode .shopify-payment-button [role="button"]:focus-visible,
body.theme-dark-mode .shopify-payment-button__button--unbranded:focus,
body.theme-dark-mode .shopify-payment-button [role="button"]:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background-dark)),
    0 0 0 0.5rem rgba(var(--color-foreground-dark), 0.5),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground-dark), 0.3);
}


body.theme-dark-mode .button::selection,
body.theme-dark-mode .shopify-challenge__button::selection,
body.theme-dark-mode .customer button::selection {
  background-color: rgba(var(--color-button-text), 0.3);
}

/* Button - other */

@media screen and (forced-colors: active) {
  body.theme-dark-mode .button.loading {
    color: rgb(var(--color-foreground-dark));
  }
}

body.theme-dark-mode .button.loading > .loading-overlay__spinner .path {
  stroke: rgb(var(--color-button-text));
}

/* Button - social share */

body.theme-dark-mode .share-button__button {
  color: rgb(var(--color-link));
}

body.theme-dark-mode .share-button__button,
body.theme-dark-mode .share-button__fallback button {
  background-color: transparent;
}

body.theme-dark-mode .share-button__fallback:after {
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground-dark), var(--inputs-border-opacity));
}

body.theme-dark-mode .share-button__fallback:before {
  background: rgb(var(--color-background-dark));
  box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset) var(--inputs-shadow-blur-radius) rgba(var(--color-base-text-dark), var(--inputs-shadow-opacity));
}

body.theme-dark-mode .share-button__fallback button:hover {
  color: rgba(var(--color-foreground-dark), 0.75);
}

body.theme-dark-mode .share-button__close,
body.theme-dark-mode .share-button__copy {
  background-color: transparent;
  color: rgb(var(--color-foreground-dark));
}

body.theme-dark-mode .share-button__copy:focus-visible,
body.theme-dark-mode .share-button__close:focus-visible {
  background-color: rgb(var(--color-background-dark));
}

body.theme-dark-mode .share-button__copy:focus,
body.theme-dark-mode .share-button__close:focus {
  background-color: rgb(var(--color-background-dark));
}

body.theme-dark-mode .field:not(:focus-visible):not(.focused) + .share-button__copy:not(:focus-visible):not(.focused),
body.theme-dark-mode .field:not(:focus-visible):not(.focused) + .share-button__close:not(:focus-visible):not(.focused) {
  background-color: inherit;
}

body.theme-dark-mode .share-button__fallback .field__input:focus,
body.theme-dark-mode .share-button__fallback .field__input:-webkit-autofill {
  outline: 0.2rem solid rgba(var(--color-foreground-dark),.5);
  box-shadow: 0 0 0 0.1rem rgb(var(--color-background-dark)),0 0 0.5rem 0.4rem rgba(var(--color-foreground-dark),.3);
}

/* component-form */
body.theme-dark-mode .field__input,
body.theme-dark-mode .select__select,
body.theme-dark-mode .customer .field input,
body.theme-dark-mode .customer select {
  background-color: rgb(var(--color-background-dark));
  color: rgb(var(--color-foreground-dark));
}

body.theme-dark-mode .field:before,
body.theme-dark-mode .select:before,
body.theme-dark-mode .customer .field:before,
body.theme-dark-mode .customer select:before,
body.theme-dark-mode .localization-form__select:before {
  box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset) var(--inputs-shadow-blur-radius) rgba(var(--color-base-text-dark), var(--inputs-shadow-opacity));
}

body.theme-dark-mode .field:after,
body.theme-dark-mode .select:after,
body.theme-dark-mode .customer .field:after,
body.theme-dark-mode .customer select:after,
body.theme-dark-mode .localization-form__select:after {
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground-dark), var(--inputs-border-opacity));
}

body.theme-dark-mode .select__select {
  color: rgba(var(--color-foreground-dark), 0.75);
}

body.theme-dark-mode .field:hover.field:after,
body.theme-dark-mode .select:hover.select:after,
body.theme-dark-mode .select__select:hover.select__select:after,
body.theme-dark-mode .customer .field:hover.field:after,
body.theme-dark-mode .customer select:hover.select:after,
body.theme-dark-mode .localization-form__select:hover.localization-form__select:after {
  box-shadow: 0 0 0 calc(0.1rem + var(--inputs-border-width)) rgba(var(--color-foreground-dark),var(--inputs-border-opacity));
}

body.theme-dark-mode .field__input:focus-visible,
body.theme-dark-mode .select__select:focus-visible,
body.theme-dark-mode .customer .field input:focus-visible,
body.theme-dark-mode .customer select:focus-visible,
body.theme-dark-mode .localization-form__select:focus-visible.localization-form__select:after {
  box-shadow: 0 0 0 calc(0.1rem + var(--inputs-border-width)) rgba(var(--color-foreground-dark));
}

body.theme-dark-mode .field__input:focus,
body.theme-dark-mode .select__select:focus,
body.theme-dark-mode .customer .field input:focus,
body.theme-dark-mode .customer select:focus,
body.theme-dark-mode .localization-form__select:focus.localization-form__select:after {
  box-shadow: 0 0 0 calc(0.1rem + var(--inputs-border-width)) rgba(var(--color-foreground-dark));
}

/* Select */

/* Field */

body.theme-dark-mode .field__label,
body.theme-dark-mode .customer .field label {
  color: rgba(var(--color-foreground), 0.75);
}
body.theme-dark-mode .search-modal__content .field__label,
body.theme-dark-mode .search-modal__content .field__input,
body.theme-dark-mode .search-modal__content .select__select {
  color: rgba(var(--color-foreground), 0.75);
}

body.theme-dark-mode .field__button,
body.theme-dark-mode .field__button svg {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

body.theme-dark-mode .field__input:-webkit-autofill ~ .field__button,
body.theme-dark-mode .field__input:-webkit-autofill ~ .field__label,
body.theme-dark-mode .customer .field input:-webkit-autofill ~ label {
  color: rgb(0, 0, 0);
}

/* Text area */
/* Form global */

/* component-quantity */
body.theme-dark-mode .quantity {
  color: rgba(var(--color-foreground-dark));
}

body.theme-dark-mode .quantity:after {
  box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground-dark), var(--inputs-border-opacity));
}

body.theme-dark-mode .quantity:before {
  background: rgb(var(--color-background-dark));
  box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset) var(--inputs-shadow-blur-radius) rgba(var(--color-base-text-dark), var(--inputs-shadow-opacity));
}

body.theme-dark-mode .quantity__input {
  color: currentColor;
  background-color: transparent;
}

body.theme-dark-mode .quantity__button {
  background-color: transparent;
  color: rgb(var(--color-foreground-dark));
}

body.theme-dark-mode .quantity__button:focus-visible,
body.theme-dark-mode .quantity__input:focus-visible {
  background-color: rgb(var(--color-background-dark));
}

body.theme-dark-mode .quantity__button:focus,
body.theme-dark-mode .quantity__input:focus {
  background-color: rgb(var(--color-background-dark));
}

body.theme-dark-mode .quantity__button:not(:focus-visible):not(.focused),
body.theme-dark-mode .quantity__input:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

body.theme-dark-mode .quantity__input:-webkit-autofill,
body.theme-dark-mode .quantity__input:-webkit-autofill:hover,
body.theme-dark-mode .quantity__input:-webkit-autofill:active {
  box-shadow: 0 0 0 10rem rgb(var(--color-background-dark)) inset !important;
  -webkit-box-shadow: 0 0 0 10rem rgb(var(--color-background-dark)) inset !important;
}

/* component-modal */

body.theme-dark-mode .modal__content {
  background: rgb(var(--color-background-dark));
}

/* component-cart-count-bubble */
body.theme-dark-mode .cart-count-bubble {
  background-color: rgb(var(--color-button));
  color: rgb(var(--color-button-text));
}

/* section-announcement-bar */


body.theme-dark-mode .announcement-bar {
  border-bottom: 0.1rem solid rgba(var(--color-foreground-dark), 0.08);
  color: rgb(var(--color-foreground-dark));
}

body.theme-dark-mode .announcement-bar__link:hover {
  color: rgb(var(--color-foreground-dark));
  background-color: rgba(var(--color-card-hover), 0.06);
}

/* section-header */

/* Main Header Layout */
body.theme-dark-mode .header-wrapper {
  /* background-color: rgb(var(--color-background-dark)); */
}

body.theme-dark-mode .header-wrapper--border-bottom {
  border-bottom: 0.1rem solid rgba(var(--color-foreground-dark), 0.08);
}

body.theme-dark-mode .header__heading-link:hover .h2 {
  color: rgb(var(--color-foreground-dark));
}

body.theme-dark-mode .header__heading-link .h2 {
  color: rgba(var(--color-foreground-dark), 0.75);
}

/* Header icons */

body.theme-dark-mode .header__icon {
  color: rgb(var(--color-foreground-dark));
}

body.theme-dark-mode .header__icon--menu[aria-expanded="true"]::before {

  background: rgba(var(--color-foreground-dark), 0.5);
}

/* Search */

body.theme-dark-mode details[open] .modal-overlay::after {
  background-color: rgb(var(--color-foreground-dark), 0.5);
}

body.theme-dark-mode .search-modal {
  border-bottom: 0.1rem solid rgba(var(--color-foreground-dark), 0.08);
}

/* Header menu drawer */
body.theme-dark-mode .header__icon--menu .icon {
  fill: #fff;
}
body.theme-dark-mode .header__icon--menu .icon.icon-hamburger *{
  stroke: #fff;
}
body.theme-dark-mode .header__icon--menu .menu-drawer__drawer-close {
  background-color: #000;
  border: 1px solid #FFBA03;
}
body.theme-dark-mode .header__icon--menu .menu-drawer__drawer-close .icon{
  fill:#FFBA03;
}

/* Header menu */
body.theme-dark-mode .header__menu-item {
  color: rgba(var(--color-foreground-dark), 0.75);
}
body.theme-dark-mode .header__menu-item--active{
  background-color: #FFBA03;
}
body.theme-dark-mode .header__menu-item--active span{
  color: #000000;
}

body.theme-dark-mode .header__menu-item:hover {
  color: rgb(var(--color-foreground-dark));
}

body.theme-dark-mode .header__active-menu-item {
  color: rgb(var(--color-foreground-dark));
}

body.theme-dark-mode .global-settings-popup,
body.theme-dark-mode .header__submenu.global-settings-popup {
  border-color: rgba(var(--color-foreground-dark), var(--popup-border-opacity));
  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

body.theme-dark-mode .header__submenu .header__submenu {
  background-color: rgba(var(--color-foreground-dark), 0.03);
}

body.theme-dark-mode .badge {
  background-color: rgb(var(--color-badge-background));
  border-color: rgba(var(--color-badge-border), var(--alpha-badge-border));
  color: rgb(var(--color-foreground-dark));
}

body.theme-dark-mode .gradient {
  /* background: rgb(var(--color-background-dark));
  background: var(--gradient-background-dark);
  background-attachment: fixed; */
}

@media screen and (forced-colors: active) {
  body.theme-dark-mode .icon {
    color: CanvasText;
    fill: CanvasText !important;
  }
}
body.theme-dark-mode .content-container {
  border: var(--text-boxes-border-width) solid rgba(var(--color-foreground-dark), var(--text-boxes-border-opacity));
}

body.theme-dark-mode .content-container:after {
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

body.theme-dark-mode .global-media-settings {
  border: var(--media-border-width) solid rgba(var(--color-foreground-dark), var(--media-border-opacity));
  background-color: rgb(var(--color-background-dark));
}

body.theme-dark-mode .global-media-settings:after {
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}

/* check for flexbox gap in older Safari versions */



/* Site mode toggle  */

/* Dark mode */
body.theme-dark-mode .site-mode-option.dm .label::after{
    background-image: url(https://cdn.shopify.com/s/files/1/0552/7699/4769/t/8/assets/dark.png);
}
body.theme-dark-mode .site-mode-option.dm .ball{
    background:linear-gradient(180deg, #171717 0%, #635E5E 100%);
    border: 1.05138px solid #555353;
}
body.theme-dark-mode .site-mode-option span.dm{
    color:#ffffff;  
    display: block;
}
body.theme-dark-mode .site-mode-option span.lm{
    display:none;
}

body.theme-dark-mode .header__menu-item {
  color: rgba(var(--color-base-text-dark-dark), 0.75);
}

body.theme-dark-mode .header__menu-item:hover {
  color: rgb(var(--color-base-text-dark-dark));
}
body.theme-dark-mode .header__active-menu-item{
  color: rgb(var(--color-base-text-dark-dark));
}

body.theme-dark-mode .predictive-search {
  background-color: #000;
}
body.theme-dark-mode .search-modal__content {
  background-color: #000;
}

body.theme-dark-mode  .modal__close-button .icon{
  color: #fff;
}
/* links colour */
body.theme-dark-mode a{
  color: var(--text-links-color-dark);
}