.header__icon--menu {
  position: initial;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.menu-drawer {
  padding-bottom: 50px;
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 0;
  width: calc(100vw - 1rem);
  padding: 0;
  border-width: 0 var(--drawer-border-width) 0 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  border-style: solid;
  border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset)
    var(--drawer-shadow-vertical-offset)
    var(--drawer-shadow-blur-radius)
    rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
  background: #FFBA03;
  background: linear-gradient(315deg, #FFBA03 10%, #ffffff 70%);
}

.js .menu-drawer {
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh)
  );
}

.menu-drawer .menu-drawer__drawer-close{
  position: absolute;
  top: 2.2rem;
  right: 1rem;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #FFBA03;
  border: 1px solid #000;
  border-radius: 50%;
}
.menu-drawer .menu-drawer__drawer-close .icon{

  height: 18px;
  width: 18px;
  vertical-align: middle;
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
  fill: #000;
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.menu-drawer__inner-container .menu-drawer__top-image{
  padding: 0 3.2rem;
}
.menu-drawer__inner-container .menu-drawer__top-image .menu-drawer__top-image--light{
  display: block;
}
.menu-drawer__inner-container .menu-drawer__top-image .menu-drawer__top-image--dark{
  display: none;
}
.menu-drawer__inner-container .menu-drawer__top-image img{
  display: block;
  height: 112px;
  width: auto;
}
.menu-drawer__inner-container .menu-drawer__audit{
  padding: 0 3.2rem;
}

.menu-drawer__inner-container .menu-drawer__audit .menu-drawer__audit-button{}

.menu-drawer__inner-container .menu-drawer__audit .menu-drawer__audit-button .button{
  height: 56px;
  width: 250px;
  font-size: 26px;
  font-weight: 700;
  border-radius: 5rem;
  color: #000;
  background-color: #ffffff;
}
.menu-drawer__inner-container .menu-drawer__audit .menu-drawer__audit-button .button::before,
.menu-drawer__inner-container .menu-drawer__audit .menu-drawer__audit-button .button::after{
  display: none;
}

.menu-drawer__inner-container .menu-drawer__audit p{
  color: rgb(var(--color-foreground));
  font-size: 18px;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  /* height: 100%; */
}

.menu-drawer__navigation {
  padding: 50px 0;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item {
  padding: 0.5rem 3.2rem;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}

.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 5.2rem;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.menu-drawer__menu-item--active:hover {
  background-color: rgba(var(--color-foreground), 0.08);
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  border-left: 0.1rem solid rgba(var(--color-foreground), 0.2);
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  margin-top: 1.5rem;
  padding: 1.2rem 2.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}

.menu-drawer__utility-links {
  padding: 2rem;
  background-color: rgba(var(--color-foreground), 0.03);
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1.2rem;
  margin-left: -1.2rem;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
}

.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem;
  margin-top: 2rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.3rem 1.25rem;
}


/* Dark */
body.theme-dark-mode .menu-drawer {
  background: #FFBA03;
  background: linear-gradient(315deg, #FFBA03 10%, var(--site-background-color-dark) 70%);
}
body.theme-dark-mode .menu-drawer__inner-container .menu-drawer__audit .menu-drawer__audit-button .button{
  background-color: #FFBA03;
  color: #ffffff;
}
body.theme-dark-mode .menu-drawer__inner-container .menu-drawer__audit p{
  color: rgb(var(--color-foreground-dark));
}
body.theme-dark-mode .menu-drawer__inner-container .menu-drawer__top-image .menu-drawer__top-image--light{
  display: none;
}
body.theme-dark-mode .menu-drawer__inner-container .menu-drawer__top-image .menu-drawer__top-image--dark{
  display: block;
}